html {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/*Background Gradient*/
body {
    /* fallback for old browsers */
    background: #aa4b6b;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #56837c, #6b6b83, #aa4b6b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #56837c, #6b6b83, #aa4b6b);

    /*background-image: url("media/HD-Botanical8colors\ WALLPAPER.png");*/

    height: 100%;
    width: 100%;
}

/*Font settings*/
h1,
h2,
p,
ul {
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}


.overflow {
    overflow-x: hidden;

}

.card {
    background: #56837c;
    
    display: grid;
    place-items: center;

    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;

    margin: auto;

    border-radius: 20px;
    border-width: 5px;
    border-color: #42645f;
    border-style: dashed;

    min-width: 450px;
    width: 50%;
    height: 90%;

    padding-top: 15px;
    padding-bottom: 15px;
}

.card h1,
h2,
p {
    margin: 10px;
}

.card:hover {
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.6);
}

.avatar {
    background-color: #aa4b6b;
    border-radius: 50%;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    margin-top: 30px;

    height: 150px;
    width: 150px;
}

.avatar:hover {
    rotate: 360deg;
    transition: 0.6s;
}

#name {
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.button {
    margin: auto;
    background-color: #ffffff;
    border-radius: 30px;
    color: black;
    text-align: center;
    width: fit-content;
    padding: 10px;
    transition: 0.3s;
}

.button:hover {
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(66, 100, 95, 0.75);
    transition: 0.3s;
}

/* Class to center images*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#speedvid iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;

    border: 1px solid black;
}