html {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/*Background Gradient*/
body {
	background: linear-gradient(-45deg, #5d8356, #56837c, #7c5683, #83565d);
    background: linear-gradient(-45deg, #5d8356, #56837c, #7c5683, #83565d);
	background-size: 400% 400%;
	animation: gradient 7.5s ease infinite;
	height: 100vh;

    height: 100%;
    width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}   

/*Font settings*/
h1,
h2,
p,
ul {
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.card {
        /* fallback for old browsers */
    background: rgba(86,131,124, 0.65);
    
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;

    margin: auto;

    border-radius: 20px;
    border-width: 5px;
    border-color: #fff;
    border-style: dashed;

    min-width: 450px;
    min-height: none;
    width: 25vw;
    height: 85vh;

    padding-top: 0vh;
}

.card h1,
h2,
p {
    margin: 10px;
}

.card:hover {
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.6);
}

.avatar {
    background-color: #aa4b6b;
    border-radius: 50%;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    margin-top: 30px;

    height: 150px;
    width: 150px;
}

.avatar:hover {
    rotate: 360deg;
    transition: 0.6s;
}

#name {
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.button {
    margin: auto;
    background-color: #ffffff;
    border-radius: 30px;
    color: black;
    text-align: center;
    width: fit-content;
    padding: 10px;
    transition: 0.3s;
}

.button:hover {
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(66, 100, 95, 0.75);
    transition: 0.3s;
}

/* Class to center images*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#SZAProm {
    margin-left: auto;
    margin-right: auto;
    display: block;
}