/*Background Gradient*/
body {
    /* fallback for old browsers */
    background: #aa4b6b;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #56837c, #6b6b83, #aa4b6b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #56837c, #6b6b83, #aa4b6b);
}

/*Font settings*/
h1,
h2,
p,
ul {
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.avatar {
    background-color: #aa4b6b;
    border-radius: 50%;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

.card:hover {
  box-shadow: 0 8px 30px 0 rgba(255, 255, 255, 0.5);
}

/* Class to center images*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background: #56837c;

    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    margin: 10%;
    border-radius: 20px;
    width: 75%;
}

.card h1, h2, p {
    margin: 30px;
}